

<section class="section-form">
  <div class="row"><br>
    <h2 id="contact-us">We're happy to hear from you!</h2>
  </div>
    <form method="post" action="/contact" name="contact" class="contact-form" style="width: 1000px; height: 800px; margin-top: 150px;">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" style="color: #000;">First Name:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" style="color: #000;">Last Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" style="color: #000;">Email Address:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
 <div>
              <div>
                <input type="checkbox" name="news" id="news" checked>Yes, please
              </div>
              <label>How did you find us?</label>
            </div>
            <div class="col span-2-of-3">
              <select name="find-us" id="find-us">
                <option value="friends">Friends</option>
                <option value="search">Search engine</option>
                <option value="ad" selected>Advertisement</option>
                <option value="other">Other</option>
              </select>
            </div>
             <div >
                <label>Newsletter</label>
              </div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Drop us a line:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <input type="submit" value="Submit" style=" margin-left 100px;">
</div>
    </form>
  </div>
</section>