<p style="color: #ef4f4f;"> <%= @error %> </p>
<form action="/login" method="post" name="signup">
<input type="text" name="username" value="username">
<input type="password" name="password">
<input type="submit" value="Login">
</form>