<section class="signup-section">
<div class="card w-50" id="signup-text-box">
<h5 class="card-title">Sign Up</h5>
<p style="color: #ef4f4f;"> <%= @error %> </p>
<div class="card-body">
<p class="card-text">
<form >
<lable>Username:</lable>
<input type="text" name="username" style="width: 200px;"><br>
<lable>Password:</lable>
<input type="password" name="password" style="width: 205px;">
<input type="submit" value="Sign Up">
</form>
</p>
  </div>
</section>
