<header>
<img src="images/foodie_logo.png" alt="food app logo" class="logo">

</nav>
<div class="welcome-text-box">
  <h1>
    Welcome to Foodie<br />
    Find your favorite Restaurants
  </h1>
  <a class="btn btn-full" href="/signup">Sign Up</a>
  <a class="btn btn-ghost" href="/restaurants">Show me more</a>
</div>
</div>


</header>
